{{>layout/header}}

<div class="row">
    <div class="col-md-3 offset-9">
        {{#name}}
            <span id="user" class="inline-block my-4">{{name}}님이 로그인하셨습니다.</span>
            <a href="/logout" class="btn btn-info" role="button"><i class="fas fa-sign-out-alt"></i>&nbsp;Logout</a>
        {{/name}}
        {{^name}}
            <a href="/oauth2/authorization/google" class="btn btn-warning my-2" role="button"><i class="fab fa-google"></i>&nbsp;Google Login</a>
            <a href="/oauth2/authorization/naver" class="btn btn-success my-2" role="button"><i class="fas fa-sign-in-alt"></i>&nbsp;Naver Login</a>
        {{/name}}
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-hover col-md-10 offset-1 my-5">
        <thead class="thead-strong">
        <tr>
            <th scope="col">게시글번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">조회수</th>
            <th scope="col">최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
            <tr class="table-secondary">
                <td>{{id}}</td>
                <td><a href="/posts/view/{{id}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{count}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
    <div class="col-md-7 offset-5">
        <div class="inline-block">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="?page={{previous}}">&laquo;</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{next}}">&raquo;</a>
                </li>
            </ul>
        </div>
        <div class="inline-block offset-5">
            <a href="/posts/save" role="button" class="btn btn-danger">글쓰기&nbsp;<i class="fas fa-pencil-alt"></i></a>
        </div>
    </div>
</div>

{{>layout/footer}}